.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 65px;
    background-color: #340d88;
    color: #f6f3f3;
}